* {
  box-sizing: border-box;
}

.container6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fffef7;
  padding: 79px 16px;
  width: 393px;
  height: 851px;
  row-gap: 32px;
  background-image: linear-gradient(
    155.21deg,
    #fffbeb 0%,
    #fefce8 50%,
    #fff7ed 100%
  );

  .text2 {
    margin: -2px 0px 0px;
    line-height: 24px;
    letter-spacing: -0.31px;
    color: #92400e;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .container4 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;

    .container3 {
      position: relative;
      border-radius: 24px;
      box-shadow: 0px 10px 15px -3px #0000001a, 0px 4px 6px -4px #0000001a;
      width: 96px;
      height: 96px;
      background-image: linear-gradient(135deg, #fdc700 0%, #fe9a00 100%);

      .icon {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 48px;
        height: 48px;
        overflow: hidden;
      }

      .container2 {
        display: flex;
        position: absolute;
        top: 20px;
        left: 60px;
        align-items: center;
        justify-content: center;
        border-radius: 43822400px;
        background: #ffffff;
        padding-left: 1px;
        width: 16px;
        height: 16px;

        .container {
          flex-shrink: 0;
          border-radius: 43822400px;
          background: #fe9a00;
          width: 8px;
          height: 8px;
        }
      }
    }

    .heading1 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 16px;
      padding: 0px 165px 2px;
      height: 24px;

      .text {
        margin: -2px 0px 0px;
        line-height: 24px;
        letter-spacing: -0.31px;
        color: #e17100;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .paragraph {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 8px;
      padding: 0px 94px 2px 95px;
      height: 24px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #fff085;
    border-radius: 16px;
    box-shadow: 0px 20px 25px -5px #0000001a, 0px 8px 10px -6px #0000001a;
    background: #ffffff;
    height: 446px;
    row-gap: 24px;

    .cardHeader {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      margin-right: 1px;
      padding: 24px 24px 0px;

      .register {
        display: flex;
        align-items: center;
        column-gap: 8px;
        width: 311px;

        .button {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          width: 36px;

          .icon2 {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            overflow: hidden;
          }
        }

        .cardTitle {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          padding-bottom: 2px;
          height: 16px;

          .text3 {
            margin: -2px 0px 0px;
            line-height: 16px;
            letter-spacing: -0.31px;
            color: #0a0a0a;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }
      }

      .cardDescription {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 14px;
        padding-right: 185px;
        padding-bottom: 2px;
        height: 24px;
      }
    }

    .cardContent {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;
      margin-right: 1px;
      padding: 0px 24px 24px;

      .text5 {
        flex-shrink: 0;
        line-height: 19px;
        letter-spacing: -0.31px;
        color: #92400e;
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .primitiveLabel {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 8px;

        .text4 {
          flex-shrink: 0;
          line-height: 14px;
          letter-spacing: -0.15px;
          color: #0a0a0a;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .register2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 8px;

        .input {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border: 1px solid #fff085;
          border-radius: 10px;
          background: #fffbeb;
          padding: 3px 11px;
          height: 36px;
          overflow: hidden;
        }

        .paragraph2 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 122px;
          padding-bottom: 2px;
          height: 24px;
        }
      }

      .register3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 16px;
        row-gap: 8px;

        .container5 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 8px;

          .input2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            border: 1px solid #fff085;
            border-radius: 10px;
            background: #fffbeb;
            padding: 3px 11px;
            width: 198px;
            height: 36px;
            overflow: hidden;
          }

          .button2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border: 1px solid #ffd230;
            border-radius: 10px;
            background: #fffef7;
            padding: 7px 15px;
            width: 105px;

            .text6 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: -0.15px;
              color: #e17100;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }

      .button3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 16px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px -1px #0000001a, 0px 2px 4px -2px #0000001a;
        padding: 8px 127px;
        background-image: linear-gradient(90deg, #fdc700 0%, #fe9a00 100%);

        .text7 {
          line-height: 20px;
          letter-spacing: -0.15px;
          color: #ffffff;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .register4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        margin-top: 16px;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: #fef9c2;
        padding-top: 16px;
        padding-bottom: 1px;

        .paragraph3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          padding: 0px 115px 2px 116px;
          height: 24px;
        }

        .text8 {
          margin: 8px 0px 0px;
          padding: 8px 0px;
          width: 104px;
          height: 36px;
          text-align: center;
          line-height: 20px;
          letter-spacing: -0.15px;
          color: #e17100;
          font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .paragraph4 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    padding: 0px 55px 2px;
    height: 24px;
  }
}
